body {
  background-color: #005594;
}
.container {
  background-color: rgb(249, 249, 249);
  border-radius: 12px;
  height: 650px;
  margin: 0 auto;
  margin-top: 3%;
  width: 40%;
}

.container,
.logo,
.content,
.div-input,
form,
form > div,
.button,
.button > button, .div-form{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo > img {
  width: 150px;
  margin: 5% 0;
}

.logo > h3 {
  width: 80%;
  color: rgb(23, 23, 167);
  text-align: center;
}

.content {
  width: 100%;
}

.content > h4 {
  text-align: center;
  word-break: break-word;
  width: 80%;
  height:100%;
}

.div-input {
  height: 80%;
  margin-bottom: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
}

form {
  width: 100%;
  padding-top:420%;
}

form > div {
  margin-bottom: 10px;
  width: 100%;
}

.div-input > form > .div-form > input, .div-form > select{
  width: 90%;
  height: 40px;
  margin: 10px 0;
  padding: 1%;
}

.div-form > label{
  width: 90%;
}

.button {
  width: 100%;
  flex-direction: row;
}

.button > button {
  border: none;
  border-radius: 5px;
  flex-direction: row;
  height: 40px;
  margin: 0% 2%;
  width: 25%;
}

.button > button:first-of-type:hover{
    background-color: rgb(195, 195, 195);
}

.button > button:last-of-type{
  background-color: rgb(59, 173, 59);
  color:white;
}

.button > button:last-of-type:hover{
  background-color: green;
}

.button > button[type="submit"] {
  background-color: rgb(59, 173, 59);
  color: white;
  width: 30%;
}

.button > button[type="submit"]:hover {
  background-color: green;
}

.button > button[type="reset"] {
  width: 30%;
}

.button > button[type="reset"]:hover {
  background-color: rgb(217, 217, 217);
}


@media screen and (max-width: 600px) {
  .container {
    align-items: center;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    height: 560px;
    justify-content: center;
    margin: 10% auto;
    width: 90%;
  }
  form {
    width: 100%;
    padding-top:600%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    align-items: center;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    height: 560px;
    justify-content: center;
    margin: 15% auto;
    width: 90%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    align-items: center;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    height: 560px;
    justify-content: center;
    margin: 15% auto;
    width: 80%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    align-items: center;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    margin: 15% auto;
    width: 70%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    align-items: center;
    background-color: rgb(249, 249, 249);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 580px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3%;
    width: 30%;
  }

  form{
    padding-top:495%;
  }
}