body {
  background-color: #005594;
}
.container {
  background-color: rgb(249, 249, 249);
  border-radius: 12px;
  height: 650px;
  margin: 0 auto;
  margin-top: 3%;
  width: 40%;
}

.container,
.logo,
.content,
.card-inputs,
.div-input,
form,
form > div,
.button,
.card-select,
.button > button{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo > img {
  width: 150px;
  margin: 5% 0;
}

.logo > h3 {
  width: 80%;
  color: rgb(23, 23, 167);
  text-align: center;
}

.content {
  margin: 5% 0;
  width: 100%;
}

.content > h4 {
  text-align: center;
  word-break: break-word;
  width: 80%;
  font-size: 80%;
}

.div-input {
  height: 80%;
  margin-bottom: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

form {
  width: 100%;
  padding-top: 1260px;
}

.form2{
  padding-top: 80%;
}

.form3{
  padding-top: 50%;
}

form > div {
  margin-bottom: 10px;
}

form > div > h4 {
  text-align: center;
  word-break: break-word;
  width: 100%;
}

.button {
  width: 100%;
  flex-direction: row;
}

.button > button {
  border: none;
  border-radius: 5px;
  flex-direction: row;
  height: 40px;
  margin: 0% 3%;
  width: 30%;
}

.button > button:first-of-type:hover{
    background-color: rgb(195, 195, 195);
}

.button > button:last-of-type{
  background-color: rgb(59, 173, 59);
  color:white;
}

.button > button:last-of-type:hover{
  background-color: green;
}

.button > button[type="submit"] {
  background-color: rgb(59, 173, 59);
  color: white;
  width: 30%;
}

.button > button[type="submit"]:hover {
  background-color: green;
}

.button > button[type="reset"] {
  width: 30%;
}

.button > button[type="reset"]:hover {
  background-color: rgb(217, 217, 217);
}

.card-inputs,
.card-select {
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
  height: 80px;
  margin: 10px 0;
  width: 500px;
}

.card-inputs > .inputs,
.select {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs > label,
.select > label {
  margin: 5px 0;
}

.inputs > input,
.select > select {
  width: 450px;
  height: 30px;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 600px) {
  .container {
    align-items: center;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    height: 630px;
    justify-content: center;
    margin: 15% auto;
    width: 95%;
  }
}