.card-inputs-cadastro,.inputs-cadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-inputs-cadastro, .inputs-cadastro, .inputs-cadastro > input{
    width: 100%;
}

.inputs-cadastro > input{
   margin: 10px 0;
   width: 100%;
   height: 30px;
   padding: 1%;
}




