.container-login {
  align-items: center;
  background-color: rgb(249, 249, 249);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3%;
  width: 30%;
}

.content-login,
.logo-login,
.div-input-login,
.button-login,
.cadastrar,
.card-logo,
.content-cadastro,
.div-input-cadastro,
.form-cadastro,
.buttons,
.buttons > button {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-logo {
  margin: 10% 0;
}

.card-logo > img {
  margin: 4% 0;
  width: 160px;
}

.card-logo > h2 {
  color: #005594;
  text-align: center;
}

.content-login {
  width: 100%;
}

.div-input-login {
  height: 40%;
  width: 90%;
}

.div-input-login > form {
  padding-top: 10%;
  width: 100%;
}

.div-input-login > form > select,
.input {
  width: 90%;
  margin: 3% 0;
  height: 40px;
  text-align: start;
  align-items: center;
}

.cadastrar {
  margin-right: 60%;
  font-size: 16px;
}

.cadastrar > button {
  border: none;
  background-color: white;
  text-decoration: underline;
  color: #929292;
  font-size: 15px;
}

.cadastrar > button:hover {
  color: blue;
}

.button-login {
  width: 100%;
}

.button-login > button {
  background-color: #f78b1f;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  height: 40px;
  text-decoration: none;
  width: 90%;
  margin: 3% 0;
}

.button-login > button:hover {
  background-color: #e18427;
  font-weight: bold;
}

.content-cadastro {
  height: 65%;
  width: 90%;
}

.div-input-cadastro {
  margin-bottom: 5%;
}

.div-input-cadastro,
.form-cadastro,
.form-cadastro > div {
  width: 100%;
}

.form-cadastro {
  padding-top: 10%;
}

.form-cadastro > div {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.form-cadastro > div > input,
select {
  margin: 10px 0;
  width: 100%;
  height: 35px;
  padding: 1%;
}

.buttons {
  flex-direction: row;
  margin: 5% 0;
  width: 100%;
}

.buttons > button {
  flex-direction: row;
  border: none;
  border-radius: 5px;
  margin: 0 3%;
  height: 35px;
  width: 33%;
  font-size: 15px;
}

.input {
  padding: 1%;
}

.buttons > button[type="submit"] {
  background-color: #f78b1f;
}

.buttons > button[type="submit"]:hover {
  background-color: #da8530;
  color: white;
}

.buttons > button[type="reset"] {
  background-color: white;
}
.buttons > button[type="reset"]:hover,
.buttons > button:hover {
  background-color: rgb(208, 208, 208);
}

@media screen and (max-width: 600px) {
  .container-login {
    align-items: center;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    height: 580px;
    justify-content: center;
    margin: 15% auto;
    width: 90%;
  }
} 
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container-login {
    align-items: center;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    height: 560px;
    justify-content: center;
    margin: 15% auto;
    width: 90%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container-login {
    align-items: center;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    height: 560px;
    justify-content: center;
    margin: 15% auto;
    width: 80%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container-login {
    align-items: center;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    margin: 15% auto;
    width: 70%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-login {
    align-items: center;
    background-color: rgb(249, 249, 249);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 580px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3%;
    width: 30%;
  }
}
